asgiref==3.9.1
certifi==2025.8.3
charset-normalizer==3.4.3
Django==5.2.5
idna==3.10
requests==2.32.5
sqlparse==0.5.3
urllib3==2.5.0
scipy==1.16.1
numpy==2.3.2
django-extensions==3.2.3
ipython==8.31.0
django-polymorphic==4.1.0
gymnasium==0.29.1
